/* This code is copyright by Me (Mike/Keyboard0076) 2024. You may NOT use/edit/sell/or redistribute this code. */

#chat-box {
    max-height: 340px;
    overflow-y: auto;
}

#dm-chat-box {
    max-height: 340px;
    overflow-y: auto;
}

.chat-message {
    white-space: normal;
    word-break: break-word;
    word-wrap: break-word;
    max-width: 100%;
}

.spoiler {
    background: #2e2e38;
    border-radius: 0.2em;
    color: transparent;
}

.spoiler:target {
    background: transparent;
    color: inherit;
}