/*
    This code is the intellectual property of the owner.
    Unauthorized editing, removal, updating, adding, duplicating, selling, or reusing of this code is strictly prohibited.
*/

#chat-box, #dm-chat-box {
    max-height: 340px;
    overflow-y: auto;
}

.chat-message {
    white-space: normal;
    word-break: break-word;
    word-wrap: break-word;
    max-width: 100%;
}

.spoiler {
    background: #2e2e38;
    border-radius: 0.2em;
    color: transparent;
}

.spoiler:target {
    background: transparent;
    color: inherit;
}

.mikemoji {

}